{% extends 'base.html.twig' %}

{% block title %}Feed{% endblock %}

{% block body %}

<h1>Meet INSATiens</h1>

<div class="marquee-track">
    {% for profile in profiles %}
        <div class="profile-card">
            <h3>{{ profile.prenom }} {{ profile.nom }}</h3>
            <p>{{ profile.tagline }}</p>
        </div>
    {% endfor %}
</div>

<h1>Jobs</h1>

<div class="row">
    {% for job in jobs %}
        <div class="col-md-4">
            <div class="card">
                <h5>{{ job.titre }}</h5>
                <p>{{ job.description|slice(0, 100) }}...</p>
            </div>
        </div>
    {% endfor %}
</div>

<h1>Internships</h1>

<div class="row">
    {% for job in internships %}
        <div class="col-md-4">
            <div class="card">
                <h5>{{ job.titre }}</h5>
                <p>{{ job.description|slice(0, 100) }}...</p>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}