<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ job.titre }}</h5>
        <div class="text-muted small mb-2">{{ job.jobType.value }} • {{ job.jobMode.value }}</div>
        <p class="card-text">{{ job.description|slice(0, 100) }}...</p>
        <a href="{{ path('job_detail', {id: job.id}) }}" class="btn btn-primary">See more</a>
    </div>
</div>