<div class="profile-card card">
    <img src="{{ profile.avatarUrl ?? '/images/default-avatar.png' }}" class="card-img-top" alt="{{ profile.insatien.prenom }}">
    <div class="card-body">
        <h5 class="card-title">{{ profile.insatien.prenom }} {{ profile.insatien.nom }}</h5>
        <p class="card-text">{{ profile.tagline }}</p>
        <a href="/profile/{{ profile.id }}" class="btn btn-primary w-100">View Profile</a>
    </div>
</div>